@charset "utf-8";


* {
	margin:0;
	padding:0;
	line-height:14px;
	color:#333333;
	font-family: Verdana, "‚l‚r ‚oƒSƒVƒbƒN", sans-serif, Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3";

} 
body {
	background-color:#000000;
	text-align:center;
	background-image:url("../img/body_back.gif");
	background-attachment: fixed;
	background-repeat:repeat-x
}
body,td,th {
	font-size:12px;
	line-height:18px;
}


div#pagebody {
	border:1px solid #000000;
	width:900px;
	margin:0 auto;
	margin-top:5px;
	text-align:left;
	background-image:url("../img/pagebody_back.gif");
	background-color:#ffffff;
}
