{include file="common/_html_top.html"}
<head>
{include file="common/_header.html"}
</head>
<body>
{include file="common/_body_header.html"}
<div id="pagebody">
{include file="common/_pagebody_header_small.html"}

{include file="common/_pagebody_menu.html"}

<div id="content">
<div id="content_left">
{include file="common/_pagebody_content_wiki.html"}
</div>

<div id="content_center">
<!-- ニュース（中央カラム） -->
<div class="content_menu" id="news">
<h2>ニュース</h2>
<h3>「PG-LABO」絶賛改善中！</h3>
<p>
&nbsp;
</p>
<hr class="type2" />
<h3>「PG-LABO」がオープンしました！！</h3>
<p>
はじめまして、管理人の "うえじゅん" と言います！<br />
まだテンプレートの状態ですが、	プログラムのサンプル集、ブログやFLASHゲーム集を作り、
随時展開して行こうと思いますので、よろしくお願い致します。
</p>
<hr class="type1" />
</div>
{* include file="common/ads/_type1.html" *}
</div>

<div id="content_right">
{include file="common/_pagebody_content_pickup.html"}
</div>
</div>

{include file="common/_pagebody_footer.html"}
</div>
{include file="common/_body_footer.html"}
</body>
{include file="common/_html_bottom.html"}